{% extends 'main/layoute.html' %}

{% block title %}
    <title>Работа с данными </title>
{% endblock %}

{% block content %}

<h3 style="text-align: center; color: #333; font-weight: bold; font-size: 2em; margin-bottom: 20px;">
    Работа с данными
</h3>
<br>

<div style="border: 1px solid #ddd; padding: 20px; margin-bottom: 20px; border-radius: 5px; background-color: #f9f9f9;">
    <p style="font-weight: bold; color: #0073e6;">Интерактивная таблица данных:</p>
    <p style="line-height: 1.6; color: #333;">
        Просмотр данных из базы (например, список пользователей, их действия или другой полезный контент).
    </p>
    <p style="font-weight: bold; color: #0073e6;">Форма для добавления данных:</p>
    <p style="line-height: 1.6; color: #333;">
        Возможность добавления новых данных (например, тестовые данные).
    </p>
    <p style="font-weight: bold; color: #0073e6;">Обновление данных:</p>
    <p style="line-height: 1.6; color: #333;">
        Форма для редактирования существующих данных.
    </p>
    <p style="font-weight: bold; color: #0073e6;">Удаление данных:</p>
    <p style="line-height: 1.6; color: #333;">
        Кнопка или чекбокс для удаления записей.
    </p>
    <p style="font-weight: bold; color: #0073e6;">Графики и визуализация:</p>
    <p style="line-height: 1.6; color: #333;">
        Если применимо, можно добавить графики для наглядного представления данных.
    </p>
</div>

{% endblock %}






