{% extends 'main/layoute.html' %}

{% block title %}
    <title>Стартовая страница на ДЖАНГО</title>
{% endblock %}

{% block content %}

        <h1>Добро пожаловать на наш сайт</h1>

<h3> Описание проекта </h3>
<p>
Добро пожаловать на первый сайт нашего проекта, созданный на фреймворке Django! Здесь мы представляем возможности и функциональные особенности, которые помогут вам познакомиться с этим мощным инструментом для разработки веб-приложений.
</p>
<h3> О проекте </h3>
<p>
Этот сайт разработан с целью продемонстрировать базовые возможности Django, включая создание динамических страниц, управление контентом и интеграцию с базой данных. Django - это удобный, гибкий и мощный фреймворк на языке Python, который позволяет создавать безопасные и масштабируемые веб-приложения.
</p>
<h3> Функциональные возможности сайта </h3>
<p>
Боковая навигация: Удобное меню, которое помогает быстро перемещаться по страницам сайта.
</p>
<p>
Адаптивный дизайн: Сайт оптимизирован для работы на разных устройствах, включая компьютеры, планшеты и смартфоны.
</p>
<p>
Основные страницы: На сайте представлены несколько страниц, каждая из которых демонстрирует различные функции Django, такие как работа с шаблонами, формами и базами данных.
</p>
<h3> Для кого этот проект предназначен </h3>
<p>
Наш сайт будет полезен всем, кто хочет изучить Django с нуля, включая начинающих разработчиков, студентов и энтузиастов программирования. Присоединяйтесь и начните своё путешествие в мир веб-разработки с Django!
</p>
<h3> Связаться с нами </h3>
<p>
Если у вас есть вопросы или предложения, вы всегда можете связаться с нами через раздел "Контакты" или отправить сообщение на указанный email.
</p>
<h3> Приятного изучения Django! </h3>
{% endblock %}