{% extends 'main/layoute.html' %}

{% block title %}
    <title>Стартовая страница на Django</title>
{% endblock %}

{% block content %}

<h1 style="text-align: center; color: #333; font-weight: bold; font-size: 2.5em; margin-bottom: 20px;">
    Добро пожаловать на наш сайт
</h1>

<div style="border: 1px solid #ddd; padding: 20px; margin-bottom: 20px; border-radius: 5px; background-color: #f9f9f9;">
    <p style="font-weight: bold; color: #0073e6; font-size: 1.2em;">Описание проекта</p>
    <p style="line-height: 1.6; color: #333;">
        Добро пожаловать на первый сайт нашего проекта, созданный на фреймворке Django! Здесь мы представляем возможности и функциональные особенности, которые помогут вам познакомиться с этим мощным инструментом для разработки веб-приложений.
    </p>

    <p style="font-weight: bold; color: #0073e6; font-size: 1.2em;">О проекте</p>
    <p style="line-height: 1.6; color: #333;">
        Этот сайт разработан с целью продемонстрировать базовые возможности Django, включая создание динамических страниц, управление контентом и интеграцию с базой данных. Django - это удобный, гибкий и мощный фреймворк на языке Python, который позволяет создавать безопасные и масштабируемые веб-приложения.
    </p>

    <p style="font-weight: bold; color: #0073e6; font-size: 1.2em;">Функциональные возможности сайта</p>
    <p style="line-height: 1.6; color: #333;">
        Боковая навигация: Удобное меню, которое помогает быстро перемещаться по страницам сайта.
    </p>
    <p style="line-height: 1.6; color: #333;">
        Адаптивный дизайн: Сайт оптимизирован для работы на разных устройствах, включая компьютеры, планшеты и смартфоны.
    </p>
    <p style="line-height: 1.6; color: #333;">
        Основные страницы: На сайте представлены несколько страниц, каждая из которых демонстрирует различные функции Django, такие как работа с шаблонами, формами и базами данных.
    </p>

    <p style="font-weight: bold; color: #0073e6; font-size: 1.2em;">Для кого этот проект предназначен</p>
    <p style="line-height: 1.6; color: #333;">
        Наш сайт будет полезен всем, кто хочет изучить Django с нуля, включая начинающих разработчиков, студентов и энтузиастов программирования. Присоединяйтесь и начните своё путешествие в мир веб-разработки с Django!
    </p>

    <p style="font-weight: bold; color: #0073e6; font-size: 1.2em;">Связаться с нами</p>
    <p style="line-height: 1.6; color: #333;">
        Если у вас есть вопросы или предложения, вы всегда можете связаться с нами через раздел "Контакты" или отправить сообщение на указанный email.
    </p>

    <p style="text-align: center; font-weight: bold; color: #0073e6; font-size: 1.2em; margin-top: 20px;">
        Приятного изучения Django!
    </p>
</div>

{% endblock %}
