{% extends 'main/layoute.html' %}

{% block title %}
    <title>Новые возможности</title>
{% endblock %}

{% block content %}

    <h3>Новые возможности и обновления</h3>
<br>
<hr>
<h4> Описание страницы: </h4>
<p>На этой странице можно разместить информацию о новых функциях и последних обновлениях вашего проекта.</p>
<p>Это может быть краткий блог или список последних изменений в проекте. </p>
<p>Страница "Новые возможности" полезна для того, чтобы держать пользователей в курсе нововведений и улучшений.</p>
<br>
<h4> Содержание: </h4>

<p>Последние обновления: Краткий обзор новых возможностей, добавленных в проект.</p>
<p>Планы на будущее: Описание функционала, который планируется реализовать.</p>
<p>Новости о разработке: Объявления о предстоящих версиях, исправлениях ошибок и улучшениях дизайна.</p>
<p>Таблица изменений: Удобный список с датами и кратким описанием каждого обновления.</p>

{% endblock %}