{% extends 'main/layoute.html' %}

{% block title %}
    <title>Тестирование</title>
{% endblock %}

{% block content %}

<h3 style="text-align: center; color: #333; font-weight: bold; font-size: 2em; margin-bottom: 20px;">
    Тестирование и отладка
</h3>
<br>

<div style="border: 1px solid #ddd; padding: 20px; margin-bottom: 20px; border-radius: 5px; background-color: #f9f9f9;">
    <p style="font-weight: bold; color: #0073e6;">Тестирование функций сайта:</p>
    <p style="line-height: 1.6; color: #333;">
        Раздел для проверки работоспособности отдельных функций (например, вызов API, проверка форм, или другие важные функции).
    </p>
    <p style="font-weight: bold; color: #0073e6;">Тестовые данные:</p>
    <p style="line-height: 1.6; color: #333;">
        Раздел, где пользователи могут отправлять тестовые данные и видеть результаты обработки.
    </p>
    <p style="font-weight: bold; color: #0073e6;">Лог ошибок и отладочная информация:</p>
    <p style="line-height: 1.6; color: #333;">
        Логи, которые помогут отслеживать ошибки и улучшить стабильность проекта.
    </p>
    <p style="font-weight: bold; color: #0073e6;">Интерактивное тестирование:</p>
    <p style="line-height: 1.6; color: #333;">
        Возможность для пользователей проводить тесты и видеть результаты в реальном времени, что поможет им понять, как проект обрабатывает данные.
    </p>
</div>

{% endblock %}
